@import '../../App.scss';

.cityList {
  width: 70vw;
  margin: 0 auto;
  padding: 2rem 0;
}
.cityListGrid {
  background: $mainBlack;
  border-radius: 1.8rem;
  margin: 3rem 0;
  img {
    width: 100%;
    border-top-left-radius: 1.8rem;
    border-top-right-radius: 1.8rem;
    display: block;
  }
}
@media screen and (min-width:768px) {
  .cityList {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 1.5rem;
  }
}
@media screen and (min-width:992px) {
  .cityList {
    display: block;
    margin: 0 auto;
  }
}
